/* HACER QUE SEA RESPONSIVE  */


@media screen and (max-width:990px) {
    nav{
        height: 150px;
    }
}
@media screen and (max-width:720px) {
    #mainInicio {
        display: block;
        width: 800px;
        height: 1500px;
    }
    #grafico {
        width: 500px;

    }

    #mapa {
        width: 100%;
        margin-bottom: 50px;
    }

    .card.tiempo {
        margin-left: 50px;

    }

    #cards {
        width: 100%;
    }
}

 @media screen and (max-width:666px) {
    #mainInicio {
        display: block;
        width: 800px;
        height: 1500px;
    }

    #mapa {
        width: 100%;
    }


    .card.tiempo {
        /* margin-left: 50px; */

    }

} 


@media screen and (max-width:573px) {
  

    #mapa {
        width: 60%;
        margin-left: 20px;
    }

    #cards{
        display: block;
    }
    .card.tiempo {
        margin-left: 140px;

    }

    #grafico {
        width: 400px;

    }

} 


@media screen and (max-width:515px) {
  

    #mapa {
        width: 400px;
        margin-left: 20px;

    }

 
    .card.tiempo {
        margin-left: 100px;

    }

    #grafico {
        width: 300px;

    }

} 

@media screen and (max-width:450px) {
  

    #mapa {
        width: 325px;
        margin-left: 20px;

    }

 
    .card.tiempo {
        margin-left: 80px;

    }
    #grafico {
        width: 300px;
        margin-left: 30px;

    }

} 

@media screen and (max-width:404px) {
  

    #mapa {
        width: 310px;
        margin-left: 20px;

    }

 
    .card.tiempo {
        margin-left: 80px;

    }
    #grafico {
        width: 300px;
        margin-left: 30px;

    }
    #OpcionalIconos{
        width: 220px;
       
    }
} 


@media screen and (max-width:363px) {
  

    #mapa {
        width: 280px;
        margin-left: 20px;
    }
    #OpcionalIconos{
        width: 220px;
       
    }

 
    .card.tiempo {
        margin-left: 60px;

    }
    #grafico {
        width: 300px;
        margin-left: 10px;

    }

} 