* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: rgba(8, 8, 218, 0.795);
    background-image: url(../imagenes/fondoNubes.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden;
    width: 100%;
}

nav {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.178);
    height: 90px;

}

a {
    margin-left: 5px;
    margin-right: 20px;

}

a:hover {
    color: rgb(247, 211, 169)
}

#usuario {
    float: right;
    margin-top: 28px;
}

#mapa {
    width: 50%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}


#mainInicio {
    display: flex;
    margin-top: 30px;
    justify-content: center;
    flex-wrap: wrap;
    height: 500px;
    width: 100%;

}

#grados {
    font-size: 40px;
}

.card.tiempo {
    background-color: rgba(240, 248, 255, 0.362);
    margin-left: 20px;
    width: 200px;
    height: 200px;
    margin-bottom: 39px;
    border-radius: 5px;
    text-align: center;

}



#tiempo:hover {
    border: 1px solid red;
}

#cards {
    width: 50%;
    /* height: 500px; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}




#OpcionalIconos {
    background-color: rgba(240, 248, 255, 0.362);
    margin-top: 1%;
    width: 50%;
    height: 60px;
    margin-left: 25%;
    justify-content: center;
    display: flex;
    align-items: center;

}

#OpcionalIconos img {
    width: 50px;
    height: 50px;
}


#tiempoDrag {
    width: 90%;

}


/*grafico*/
#grafico {
    background-color: rgba(240, 248, 255, 0.751);
    width: 600px;
    margin-left: 5%;
    margin-top: 20px;
    color: black;
    border: 0px solid;
    border-radius: 10px;
}


