body {
    font-family: Arial, sans-serif;
    background-color:  hsla(195, 41%, 60%, 0.333);
    text-align: center;
    margin: 50px;
  }

  form {
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 200px;
    z-index:100;
  }

  input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px black solid;
    border-radius: 10px;
  }

  label{
    float: inline-start;
  }

  button {
    background-color: hsl(195, 41%, 60%);
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
  }

#registrarseP{
    color: blue;
    font-size: 12px;
}

i{
    color: hsl(195, 41%, 60%);
    font-size: 80px;
}


/*animacion */
.container {
  width: 500px;
  height: 500px;
  position: relative;
  overflow: hidden;
}

.animacion {
  position: absolute;
  top: 50%;
  left: 50%; /* posición inicial */
  transform: translate(-50%, -50%);
  animation: mover 5s linear infinite; /* animación */
  z-index: -1;
}

@keyframes mover {
  0% {
    left: 0%; /* posición inicial */
    transform: translate(-50%, -50%) rotate(0deg); /* rotación inicial */
  }
  100% {
    left: 100%; /* posición final */
    transform: translate(-50%, -50%) rotate(360deg); /* rotación final */
  }
}

